<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Tarefas</title>
  </head>

  <body>
    <div class="input_container">
      <h2>Lista de Tarefas</h2>
      
      <input
        type="text"
        placeholder="Nova Tarefa"
        #inputTarefa
        maxlength="20"
        (keyup.enter)="adicionar(inputTarefa.value); inputTarefa.value = ''"
      />
      <button (click)="adicionar(inputTarefa.value); inputTarefa.value = ''">
        <i class="fa fa-plus"></i>
      </button>
      <ul *ngFor="let tarefa of listaTarefas">
        <li>
          <div (click)="completar(tarefa.id)">
            {{ tarefa.nome }}
            <i *ngIf="tarefa.concluida" class="material-icons"> done </i>
            <!--<i *ngIf="tarefa.concluida"> <del>{{tarefa.nome}}</del></i>-->

            <!--<ng-template [ngIf]="tarefa.concluida" [ngIfElse]="tarefa.nome">
                        <div><del>{{tarefa.nome}}</del></div>
                    </ng-template>

                    <ng-template #tarefa.nome>
                        <div>{{tarefa.nome}}</div>
                    </ng-template>-->
          </div>
        </li>
        <i (click)="deletar(tarefa.id)" class="material-icons">delete</i>
      </ul>
    </div>
  </body>
</html>
